# Managed by ansible - roles/webhost/templates/lan-only.conf.j2
# `include snippets/lan-only.conf;` inside any server{} block.
allow 127.0.0.1;
allow ::1;
{% for range in lan_ranges %}
allow {{ range }};
{% endfor %}
allow fe80::/10;
allow fc00::/7;
deny all;
