# Managed by ansible - roles/webhost/templates/site.service.j2
[Unit]
Description={{ item.description }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=bryan
Group=bryan
WorkingDirectory={{ item.workdir }}
Environment=PATH=/home/bryan/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
{% for key, value in (item.environment | default({})).items() %}
Environment={{ key }}={{ value }}
{% endfor %}
ExecStart={{ item.exec_start }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
